 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries by Data Scientists  
- Create Markdown-formatted ordered and unordered lists  
- Build and format tables using Markdown  
- Understand basic arithmetic expression evaluation in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. MATLAB
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. scikit-learn

| Data Science Tools              |
|--------------------------------|
| Jupyter Notebook               |
| RStudio                        |
| Apache Zeppelin                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
min=200
min_to_hr=min/60
print(round(min_to_hr, 3))

3.333

## Author  
Keerthi Reddy